name: Repo Sync

on:
  schedule: 
  - cron: "* * * * *" # every 15 minutes. set to whatever interval you like

jobs:
  repo-sync:
    name: Repo Sync
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: repo-sync/github-sync@v2
      name: Sync repo to branch
      with:
        source_repo: vaibhavmew/Banking-System
        source_branch: master
        destination_branch: repo-sync
        github_token: ${{ secrets.TOKEN }}
    - uses: repo-sync/pull-request@v2
      name: Create pull request
      with:
        source_branch: repo-sync
        destination_branch: master
        github_token: ${{ secrets.TOKEN }}
